==
<script src="{{ 'assets/js/jquery.js'|theme }}"></script>
<script src="{{ 'assets/js/app.js'|theme }}"></script>
<script src="{{ 'assets/banner.js'|theme }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

{% framework extras %}
{% scripts %}

<style type="text/css">
        .aaa div a{
                
                color: black;
        }
        
        .food-title{
                font-weight: bold;
        }
        #food{
                background: #FBFBFB;
        }
</style>


<div id="food" class="food d-flex justify-content-around align-items-start pt-3">
    <div>
        <div class="food-title">
            CHĂM SÓC KHÁCH HÀNG
        </div>
        <div class="aaa">
            <div><a href="#">Trung tâm trợ giúp</a></div>
            <div><a href="#">Local blog</a></div>
            <div><a href="#">Local gmail</a></div>
            <div><a href="#">Hướng dẫn mua bán</a></div>
            <div><a href="#">Hướng dẫn bán hàng</a></div>
            <div><a href="#">Thanh toán</a></div>
            <div><a href="#">Local xu</a></div>
            <div><a href="#">Vận chuyển</a></div>
            <div><a href="#">Chính sách bảo hành</a></div>
        </div>

    </div>

    <div>
        <div class="food-title">
            VỀ LOCAL
        </div>
        <div class="aaa">
            <div><a href="#">Giới thiệu về local Việt Nam</a></div>
            <div><a href="#">Tuyển dụng</a></div>
            <div><a href="#">Điều khoản local</a></div>
            <div><a href="#">Chính sách bảo mật</a></div>
            <div><a href="#">Chính Hãng</a></div>
            <div><a href="#">Kênh người bán</a></div>
            <div><a href="#">Flash sales</a></div>

        </div>
    </div>


    <div>
        <div class="food-title">
            THANH TOÁN
        </div>
        <div>

            <div>
                <img src="https://cf.shopee.vn/file/d4bbea4570b93bfd5fc652ca82a262a8" />
                <img src="https://cf.shopee.vn/file/a0a9062ebe19b45c1ae0506f16af5c16" />
                <img src="https://cf.shopee.vn/file/9263fa8c83628f5deff55e2a90758b06" />
            </div>

        </div>
    </div>
</div>