
<div class="header-cart d-flex justify-content-around py-4">
	<div class="w-50 d-flex flex-row ml-5">
		<div>
			<img src="{{ 'assets/images/logo.png'|theme }}" width="200px"> | 
		</div>	
		<div class="slider">
            <div class="slider-text1">Cart</div>
            <div class="slider-text2">Sale off</div>
            <div class="slider-text3">Buy now !!</div>
        </div>
	</div>
	<div class="w-50">
		<nav class="navbar bg-body-tertiary">
		  <form class="container-fluid">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="....." aria-label="Username" aria-describedby="basic-addon1">
		      <span class="input-group-text" id="basic-addon1">Search</span>
		    </div>
		  </form>
		</nav>
	</div>
</div>